<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
  </head>
  <body>
    <script src="app.js"></script>
  </body>
</html>





<body>
  <script src="app.js"></script>
</body>

<body>
  <script src="app.js"></script>
</body>


<body>
  <script src="app.js"></script>
</body>


<h2>test</h2>
<h4>test</h4>
<h2>test</h2>
<h4>test</h4><h2>test</h2>
<h4>test</h4><h2>test</h2>
<h4>test</h4><h2>test</h2>
<h4>test</h4>





</body>





<h2>test</h2>
<h4>test</h4>

<h4>test</h4>

<body>
  <script src="app.js"></script>
</body>


<h2>test</h2>
<h4>test</h4>
<h2>test</h2><h2>test</h2>
<h4>test</h4>


<body>
  <script src="app.js"></script>
</body>


<h2>test</h2>



<h4>test</h4><h2>test</h2>
<h4>test</h4><h2>test</h2>


  
  <body>
    <script src="app.js"></script>
  </body><body>

    

   


    <h4>test</h4><h2>test</h2>
<h4>test</h4><h2>test</h2

  <h4>test</h4><h2>test</h2>
<h4>test</h4><h2>test</h2>


    <h4>test</h4><h2>test</h2>
<



  <%= link_to "ログアウト", logout_path, method: :delete %>

<h4>test</h4><h2>test</h2>
    <script src="app.js"></script>
  </body>
  
  <td><%= link_to movie.title, movie_path(movie.id) %></td>
          <td><%= movie.body %></td>
  


  <h4>test</h4><h2>test</h2>
<h4>test</h4><h2>test</h2><h4>test</h4><h2>test</h2>
<


  <%= f.text_field :title, value: @movie.title, class: "form-control"%>
  <%= f.text_area :body, value: @movie.body, class: "form-control" %>
  


  
  <h4>test</h4><h2>test</h2><h4>test</h4><h2>test</h2>
  
  
  <h4>test</h4><h2>test</h2><h4>test</h4><h2>test</h2><h4>test</h4><h2>test</h2><h4>test</h4><h2>test</h2>
  
  <h4>test</h4><h2>test</h2><h4>test</h4><h2>test</h2><h4>test</h4><h2>test</h2><h4>test</h4><h2>test</h2>

  
  
  <h4>test</h4><h2>test</h2><h4>test</h4><h2>test</h2>
  <h4>test</h4><h2>test</h2><h4>test</h4><h2>test</h2>
  

  




<h4>test</h4><h2>test</h2><h4>test</h4><h2>test</h2>
<



<h4>test</h4><h2>test</h2>
  <


  </body>
  <body>
    <script src="app.js"></script>
  





    
    <script src="app.js"></script>
  </body>

  def divisor_sum(num, limit)
  (1..limit).select{ |i| num % i == 0 }.sum
end
def divisor_sum(num, limit)
  (1..limit).select{ |i| num % i == 0 }.sum
end
def divisor_sum(num, limit)
  (1..limit).select{ |i| num % i == 0 }.sum
end
  






  <h2>test</h2>
<h4>test</h4>


<h4>test</h4>

def divisor_sum(num, limit)
  (1..limit).select{ |i| num % i == 0 }.sum
end

puts divisor_sum(1234567890, 30000000)

def divisors(num)
  result = []
  (1..num).each do |i|
    if num % i == 0
      result << i
    
  end
  result
end


puts divisor_sum(1234567890, 30000000)


<div>
  <%= form_with model: @movie, local: true do |f| %>
    <div>
      <%= f.label :title, "Title" %>
      <%= f.text_field :title, value: @movie.title, class: "form-control"%>
    </div>
    <div class="form-group">
      <%= f.label :body, "Opinion" %>
      <%= f.text_area :body, value: @movie.body, class: "form-control" %>
    </div>
    <div class="actions">
      <%= f.submit "Update MEMO", class: "btn btn-success" %>
    </div>
  <% end %>
    <%= link_to "メモ詳細へ", movie_path(params[:id]) %>
    <%= link_to "メモ一覧へ", movies_path(params[:id]) %>
</div>